<div class="pot">
  Pot: <span id="pot"><%= @pot %></span>
</div>

<div class="poker-footer-wrap" id="poker-footer-wrap">
  <div class="wait">Wait your turn!</div>
  <div class="button-area-left">
      <%= link_to bet_path, remote:true, id: 'bet', method: :post do %>
        <button>Bet</button>
      <% end %>
      <%= link_to call_path, remote:true, id: 'call', method: :post do %>
        <button>Call</button>
      <% end %>
      <div class="play-again">
        <%= link_to home_index_path, remote: true, method: :get do %>
          <button>Fold</button>
        <% end %>
      </div>
  </div>
    <div class="wager-buttons">
      <%= button_to "1", bet_path, remote: true, params: { bet:1 } %>
      <%= button_to "5", bet_path, remote: true, params: { bet:5 } %>
      <%= button_to "20", bet_path, remote: true, params: { bet:20 } %>
      <%= button_to "50", bet_path, remote: true, params: { bet:50 } %>
      <%= button_to "100", bet_path, remote: true, params: { bet:100 } %>
      <%= button_to "250", bet_path, remote: true, params: { bet:250 } %>
      <%= button_to "500", bet_path, remote: true, params: { bet:500 } %>
      <%= button_to "1000", bet_path, remote: true, params: { bet:1000 } %>
    </div>
</div>