<%= render 'shared/nav' %>

<div class="players-chat">
  <div class="current-players">
    <% @players.each do |player| %>
      <p><%= player %></p>
    <% end %>
  </div>
  <div class="chat">
    <%= render 'messages/messages' %>
    <%= render 'messages/message_form' %>
  </div>
</div>

<div class="poker-table">
  <div class="flop">
  </div>
  <div class="poker-hand">
    <% @cards.each do |c| %>
      <%= image_tag c.avatar_file_name %>
    <% end %>
    <!-- <div class="poker-player-name"> -->
    <p><%= current_user.username %></p>
 <!--    </div> -->
  </div>
</div>

<%= render 'footer' %>